{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "ignore": [
    "test/**"
  ],
  "env": {
    "development": {
      "plugins": [
        "typecheck",
        "syntax-flow",
        "transform-flow-strip-types"
      ],
      "sourceMaps": "inline"
    },
    "production": {
      "plugins": [
        "syntax-flow",
        "transform-flow-strip-types",
        "add-module-exports"
      ]
    }
  }
}
