{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "arrow-body-style": [1, "as-needed"],
    "comma-dangle": [2, "never"],
    "dot-notation": [2, { "allowKeywords": true, "allowPattern": "^[A-Z]+[A-Za-z]+$" }],
    "vars-on-top": 0,
    "no-unused-vars": [1, { "vars": "local", "args": "after-used" }]
  },
  "globals": {
    "Promise": false,
    "_": false,
    "$": false
  }
}
