{
  "extends": "airbnb",
  "ecmaFeatures": {
    "restParams": true,
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "arrow-spacing": 2,
    "comma-dangle": [2, "never"],
    "dot-notation": [2, { "allowKeywords": true, "allowPattern": "^[A-Z]+[A-Za-z]+$" }],
    "vars-on-top": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "after-used"}],
    "consistent-this": [2, "self"],
    "object-curly-spacing": [2, "always"],
    "no-irregular-whitespace": 0
  },
  "globals": {
    "ko": false,
    "_": false,
    "$": false
  }
}
